<p-toast />
<p-confirmDialog />
<div class="container md:p-10 flex flex-col gap-10">
  <div class="w-full flex justify-between  items-center p-5 ">
    <app-product-search/>
    <button type="button" class="focus:outline-none  text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm p-2 px-2  md:px-5 md:py-2.5 me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800" (click)="addnew()">Add New</button>

  </div>
</div>
<div class="relative overflow-x-auto md:px-5">
  <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
      <thead class="text-lg text-gray-700 uppercase bg-gray-50 ">
          <tr>
              <th scope="col" class="px-6 py-3">
                Name
              </th>
              <th scope="col" class="px-6 py-3">
                Description
              </th>
              <th scope="col" class="px-6 py-3">
                Price
              </th>
              <th scope="col" class="px-6 py-3">
                  Action
              </th>
          </tr>
      </thead>
      <tbody>
        @defer(on viewport; when products) {
          @for(item of products; track item.id){
            <tr appHighlightDirective class="bg-white border-b cursor-pointer ">
                <td [routerLink]="'/products/'+item.id" scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">{{item.name}}</td>
                <td [routerLink]="'/products/'+item.id"  class="px-6 py-4">{{item.description.slice(0,15)}}....</td>
                <td  [routerLink]="'/products/'+item.id" class="px-6 py-4">{{item.price | currencyFormat}}</td>
                <td  class="px-6 py-4">
                  <button  pTooltip="Edit" 
                  tooltipPosition="top"  class="mr-4 hover:text-black hover:scale-105" (click)="editProduct(item.id)"> <i class="pi pi-pen-to-square"></i></button>
                  <button  pTooltip="Delete" 
                  tooltipPosition="top"  class="mr-4 hover:text-red-600 hover:scale-105"  (click)="deleteProduct(item.id)"><i class="pi pi-trash"></i></button>
                </td>
            </tr>
    
          
           }
        } @placeholder (minimum 500ms) {
          <tr>
            <td colspan="4" class="px-6 py-4 text-center"> <p-progressSpinner 
              styleClass="w-2rem h-2rem" 
              strokeWidth="3" 
              color="blue"
              fill="var(--surface-ground)" 
              animationDuration="1s" /></td>
          </tr>
        }
        @error {
          <tr>
            <td colspan="4" class="px-6 py-4 text-center">Error occurred while fetching data.</td>
          </tr>
        }
     
        
      </tbody>
  </table>
</div>
